<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/css/shopping_cart.css" />
		<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
		<script type="text/javascript" src="../static/js/shopping_cart.js"></script>
		<title></title>
	</head>

	<body>
		<div id="main_container">
			<div id="nav">
				<div id="nav_in">
					<ul>
						<li>
							<i class="icon-user"></i>
							<a href="login.html">登录 </a>
						</li>
						<li>
							<a href="register.html">免费注册</a>
						</li>
					</ul>
					<ul>
						<li>
							<i class="icon-shopping-cart"></i>
							<a href="#">我的账户</a>
						</li>
						<li>
							<a href="#">付款方式</a>
						</li>
						<li>
							<a href="#">配送范围</a>
						</li>
						<li>
							<i class="icon-question"></i>
							<a href="info_center.html">帮助中心</a>
						</li>
						<li>
							<a href="#">订购电话：400-686-8888</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="gap"></div>
			<div id="footer">
				<div id="footer_all">
					<p>Copyright 2011-2012 电脑工作室 All Rights Reserved ICP 备 10011234号</p>
					<p>注：7x24小时均可网上订购，支持货到付款，我们提供的付款方式有网上银行、银行转账、支付宝、Paypal。当天21:00以后预订的电脑在次日安排配送</p>
				</div>
			</div>
		</div>
	</body>

</html>